<h1> Recipe for <%=@title%></h1>

<img src="<%=@img_url%>">

<ol>
    <% @steps.each do |steps| %>
      <li>
        <%= steps['step'] %>
      </li>
    <% end %>
  </ol>



<a href="/recipe_form">Let's find other foods!</a>
